@page "{id}"
@model AnimalProfileModel
@{
    ViewData["Title"] = "";
}

<h1>@Model.animal.Name</h1>

<div class="w-100 d-flex justify-content-center">
    <div class="w-75">
        <div class="w-100">
            img
        </div>
        <div class="w-100 d-flex flex-row">
            <div class="w-50">
                hello
            </div>
            <div class="w-50">
                goodbye
            </div>
        </div>
    </div>
</div>
