@page
@model MSU_Case_LostAndFound.Pages.erikitoModel
@{
    ViewData["Title"] = "<3";
}

<div class="text-center">
    <div class="d-flex flex-column">
        <div>
            <h1>Erik van Appledorn</h1>
        </div>
        <div class="d-flex flex-column">
            <img src="~/images/erikito.jpg" id="erikito" class="img-fluid ar-1-1" />
        </div>
    </div>
</div>
