@page
@model MSU_Case_LostAndFound.Pages.LoginModel
@{
    ViewData["Title"] = "Sign in";
}

<div class="text-center">
    <div class="d-flex flex-column">
        <div>
            <h1>Erik van Appeldorn</h1>
        </div>
    </div>
    <img src="../images/erikito.jpg" id="animal-picture" class="img-fluid ar-1-1" />

</div>
