@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
<<<<<<< HEAD
    <div class="w-100">
        <img src="~/images/cat_in_grass.jpg" id="img-front-page" />
    </div>
    <div class="extend">
        <div class="h-50 d-flex flex-column justify-content-around">
            <div class="d-flex justify-content-center">
                <img src="~/images/rescute/rescute_logo_white.png" class="w-50"/>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <div class="w-75 d-flex justify-content-around">
                    <div class="w-25">
                        <button type="button" class="btn btn-outline-light btn-lg btn-block ar-2-1 text-size">Lost</button>
                    </div>
                    <div class="w-25">
                        <button type="button" class="btn btn-outline-light btn-lg btn-block ar-2-1 text-size">Found</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="h-50">

        </div>
    </div>
=======
    <h1 class="display-4">Lost & Found!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
>>>>>>> 763e84887cef44347c76bdc808b59e98b7752d6b
</div>
