@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="w-100">
        <img src="~/images/cat_in_grass.jpg" id="img-front-page" />
    </div>
    <div class="extend">
        <div class="h-50 d-flex flex-column justify-content-around">
            <div class="d-flex justify-content-center">
                <img src="~/images/rescute/rescute_logo_white.png" class="w-50"/>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <div class="w-75 d-flex justify-content-around">
                    <div class="w-25">
                        <a class="nav-link" asp-area="" asp-page="/Lost">
                            <div class="btn btn-outline-light btn-lg btn-block ar-2-1 text-size">Lost</div>
                        </a>
                    </div>
                    <div class="w-25">
                        <a class="nav-link" asp-area="" asp-page="/Found">
                            <div class="btn btn-outline-light btn-lg btn-block ar-2-1 text-size">Found</div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="h-50">

        </div>
    </div>
</div>
