@page
@model MSU_Case_LostAndFound.Pages.LoginModel
@{
    ViewData["Title"] = "Sign in";
}

<div class="text-center">
    <div class="d-flex flex-column">
        <div>
            <h1>Sign in</h1>
        </div>
        <div class="d-flex flex-column justify-content-between">
            <div class="btn btn-info">
                <h2>Google</h2>
            </div>
            <div class="btn btn-warning">
                <h2>Microsoft</h2>
            </div>
        </div>
    </div>
</div>
