@page
@model LostModel
@{
    ViewData["Title"] = "Dyr som er savnet";


    int totalItems = Model.AnimalLst.Count();
    int itemsPerRow = 3;

    int counter = -1;
}

<div class="w-100 d-flex flex-row">
    <div class="w-50">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="w-50 d-flex justify-content-end align-content-end">
        <a asp-area="" asp-page="/NewAnimal">
            <div class="btn btn-primary">Ny annonse</div>
        </a>
    </div>
</div>

<div class="w-100 d-flex flex-row justify-content-between">
    @foreach (var item in Model.AnimalLst)
    {
        Console.WriteLine(item.Name);
        counter++;

        @if (counter % 3 == 0)
        {
            Console.WriteLine("Line swap");
            @:</div><div class="w-100 d-flex flex-row justify-content-between">
        }

        <div class="w-25 border p-2 mb-2 d-flex flex-row">
            <div class="w-50 mr-1">
                <!--<p>picture</p>-->
                <img src="~/images/cat_in_grass.jpg" id="animal-picture" class="img-fluid ar-1-1" />
            </div>
            <div class="w-50 d-flex flex-column">
                <div>
                    @item.Name
                </div>
                <div>
                    @item.Sex
                </div>
                <div>
                    <a asp-area="" asp-page="/Index">
                        <div class="btn btn-primary">Se mer</div>
                    </a>
                </div>
            </div>
        </div>
    }
</div>

