@page
@using System.Security.Claims;
@model LostModel
@{
    ViewData["Title"] = "Dyr som er savnet";
    var userinfo = ClaimsPrincipal.Current;
}


<h1>@ViewData["Title"]</h1>
@if(userinfo != null) { 

<p>@userinfo</p>

} else
{
<p>No active user</p>
}

