@page

@using Microsoft.AspNetCore.Identity
@using MSU_Case_LostAndFound.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model RegisterFoundModel
@{
    ViewData["Title"] = "Dyr som er savnet";
}


<h1>@ViewData["Title"]</h1>

<br />
<h2 class="text-info">Register Found Animal</h2>
<br />

@if (SignInManager.IsSignedIn(User))
{
    <div class="border container" style="padding:30px;">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnimalsFound.Name"></label>
                </div>
                <div class="col-6">
                    <input asp-for="AnimalsFound.Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnimalsFound.Animal"></label>
                </div>
                <div class="col-6">
                    <select asp-for="AnimalsFound.Animal" class="custom-select mr-sm-2"
                            asp-items="Html.GetEnumSelectList<MSU_Case_LostAndFound.Model.Animal>()">
                        <option value="">Please Select</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnimalsFound.Gender"></label>
                </div>
                <div class="col-6">
                    <select asp-for="AnimalsFound.Gender" class="custom-select mr-sm-2"
                            asp-items="Html.GetEnumSelectList<MSU_Case_LostAndFound.Model.Gender>()">
                        <option value="">Please Select</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnimalsFound.FoundDate"></label>
                </div>
                <div class="col-6">
                    <input asp-for="AnimalsFound.FoundDate" type="date" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnimalsFound.NearArea"></label>
                </div>
                <div class="col-6">
                    <input asp-for="AnimalsFound.NearArea" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnimalsFound.Address"></label>
                </div>
                <div class="col-6">
                    <input asp-for="AnimalsFound.Address" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnimalsFound.Color"></label>
                </div>
                <div class="col-6">
                    <input asp-for="AnimalsFound.Color" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnimalsFound.FurLenght"></label>
                </div>
                <div class="col-6">
                    <select asp-for="AnimalsFound.FurLenght" class="custom-select mr-sm-2"
                            asp-items="Html.GetEnumSelectList<MSU_Case_LostAndFound.Model.FurLenght>()">
                        <option value="">Please Select</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="AnimalsFound.FurPattern"></label>
                </div>
                <div class="col-6">
                    <select asp-for="AnimalsFound.FurPattern" class="custom-select mr-sm-2"
                            asp-items="Html.GetEnumSelectList<MSU_Case_LostAndFound.Model.FurPattern>()">
                        <option value="">Please Select</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label class="control-label" for="file">Select File</label>
                </div>
                <div class="col-6">
                    <input type="file" id="file" name="selectFile" class="" accept="image/gif, image/jpeg, image/png" onchange="DisplayFilesToUpload()" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-6">
                    <img src="" id="profile-img-tag" width="200" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3 offset-4">
                    <p id="FilesToUpload"></p>
                    <p id="FilesToUpload"></p>
                </div>
            </div>

        </form>
    </div>
}
else
{
    Response.Redirect("/Identity/Account/Login");
}

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#profile-img-tag').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    function DisplayFilesToUpload() {
        var element = document.getElementById("file");
        var html = "";
        html = "<input type='submit' value='Create' class='btn btn-primary form-control'/>";
        document.getElementById("FilesToUpload").innerHTML = html;
        readURL(element);
    }
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>