@page
@model AnimalListModel
@{
    ViewData["Title"] = "Dyr som er savnet";
}

<h1>@ViewData["Title"]</h1>

<br />
<div class="container row p-0 m-0">
    <div class="col-10">
        <h2 class="text-info">Animal List</h2>
    </div>
    <div class="col-2">
        <a class="btn btn-info form-control text-white">Create New Animal</a>
    </div>
    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.tmpAnimalLst.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="tmpAnimalLst.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="tmpAnimalLst.FirstOrDefault().Gender"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.tmpAnimalLst)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Gender)
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm">Delete</button>
                                <a class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>

                    }
                </table>
            }
            else
            {
                <p>No Animal added.</p>
            }
        </form>
    </div>
</div>

