@page
@model LostModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Profile";

    var username = ClaimsPrincipal.Current.Identities;
}


<h1>@ViewData["Title"]</h1>

 <p>@username</p>


