@page
@model LostModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Profile";

    var username = ClaimsPrincipal.Current.Identities;
    var brukerNavn = User.FindFirstValue(ClaimTypes.Name);
}


<h1>@ViewData["Title"]</h1>

 <p>@brukerNavn</p>


