@page
@using System.Security.Claims;
@model LostModel
@{
    ViewData["Title"] = "Profile";

    var username = HttpContext.User.Identity.Name;
}


<h1>@ViewData["Title"]</h1>
@if (username != null)
{

    <p>@username</p>

}
else
{
   
  <p>No active user</p>
    
}

