@page
@model LostModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Profile";

    var claim = ClaimsPrincipal.Current;
    var username = claim.FindFirst(ClaimTypes.NameIdentifier);

}

<h1>@ViewData["Title"]</h1>

@{ if (claim != null)
    {
        <p>@username</p>
    } else
    {
        <p>No active user...</p>
    }

}



