@page
@model LostModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Profile";


    var claimP = ClaimsPrincipal.Current;
    var username = claimP.FindFirst(ClaimTypes.Name);
}


<h1>@ViewData["Title"]</h1>

 <p>@username</p>


